<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>Task Manager</title>
  </head>
  <body>
    <%- include('partials/nav')%> <% if (success.length > 0){ %>
    <div class="text-success fs-4 text-center my-2"><%=success %></div>
    <% }; %> <% if (err.length > 0){ %>
    <div class="text-danger fs-4 text-center my-2"><%=err %></div>
    <% }; %>
    <h1 class="text-center my-4">Task Manager</h1>

    <% if (p_tasks.length > 0) { %>
    <table class="mx-auto">
      <thead>
        <tr>
          <th class="sno">Sno</th>
          <th>Title</th>
          <th class="td">Description</th>
          <th>Added on</th>
          <th class="ac_btn">Actions</th>
        </tr>
      </thead>
      <tbody>
        <%
        let i = skip + 1;
        p_tasks.forEach((row, index) => {
        %>
        <tr>
          <td class="sno text-center"><%=i %></td>
          <td class="text-center tt"><%=row.title %></td>
          <td class="text-center td"><%=row.desc %></td>
          <td class="text-center date"><%=row.date %></td>
          <td class="text-center ac_btn">
            <a href="/done?id=<%=row._id %>"
              ><img
                title="task completed"
                src="./done.svg"
                alt="image for delete icon"
            /></a>
            <a href="/delete?id=<%=row._id %>"
              ><img
                title="delete task"
                src="./delete.svg"
                alt="image for delete icon"
            /></a>
            <button
              class="border-0 bg-light edit"
              data-bs-toggle="modal"
              data-bs-target="#editTask"
              id="<%=row._id %>"
              title="edit task"
            >
              <img src="./edit.svg" alt="image for new task" />
            </button>
          </td>
        </tr>
        <%
        i++;
        });
        %>
      </tbody>
    </table>
    <div class="pages my-5 mx-auto">
      <% if(pageNum > 1){ %>
      <a class="btn btn-dark" href="/?page=<%=pageNum-1%>">Prev</a>
      <% }else { %>
        <a class="btn btn-dark disabled">Prev</a>
        <% }; %>
      <% for(let i=0; i<totalPages; i++){ %>
        <a class="btn btn-dark" href="/?page=<%=i+1 %>"><%=i+1 %></a>
      <% }; %>
      <% if(pageNum < totalPages){ %>
        <a class="btn btn-dark" href="/?page=<%=pageNum+1%>">Next</a>
        <% }else { %>
          <a class="btn btn-dark disabled">Next</a>
          <% }; %>
    </div>
    <% }else { %>
    <div class="text-center my-5 fs-2">No Tasks Yet! Add Some</div>
    <% }; %>

    <!-- add task Modal start -->
    <div
      class="modal fade"
      id="newTask"
      tabindex="-1"
      aria-labelledby="newTaskLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="newTaskLabel">Add New Task</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <% if (error.length > 0){ %>
            <div class="text-danger fs-4 text-center my-2"><%=error %></div>
            <% }; %>
            <form
              class="add_task_form"
              action="/addTask"
              method="post"
              enctype="application/x-www-form-urlencoded"
              autocomplete="off"
            >
              <div class="add mx-auto my-4">
                <label for="title"
                  >Title:
                  <input
                    type="text"
                    id="title"
                    placeholder="Enter Task Title"
                    name="title"
                  />
                </label>
                <label for="desc"
                  >Description:
                  <input
                    type="text"
                    id="desc"
                    placeholder="Enter Task Description"
                    name="desc"
                  />
                </label>
              </div>
              <input
                type="submit"
                name="add"
                class="btn btn-dark new"
                value="Add Task"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- add task Modal end -->

    <!-- edit task Modal start -->
    <div
      class="modal fade"
      id="editTask"
      tabindex="-1"
      aria-labelledby="editTaskLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="editTaskLabel">Edit Task</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              class="add_task_form"
              action="/edit"
              method="post"
              autocomplete="off"
            >
              <div class="add mx-auto my-4">
                <input type="hidden" name="id" value="" id="t_id" />
                <label for="title"
                  >Title:
                  <input
                    type="text"
                    id="e_title"
                    name="title"
                    placeholder="Enter Task Title"
                    value=""
                  />
                </label>
                <label for="desc"
                  >Description:
                  <input
                    type="text"
                    id="e_desc"
                    name="desc"
                    placeholder="Enter Task Description"
                    value=""
                  />
                </label>
              </div>
              <input
                type="submit"
                class="btn btn-dark new"
                value="Update Task"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- edit task Modal end -->

    <button
      class="add_btn btn btn-outline-dark rounded-circle mt-4"
      data-bs-toggle="modal"
      data-bs-target="#newTask"
    >
      <img src="./plus.svg" alt="image for new task" />
    </button>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
