<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("./partials/header") %>
    <title>Home Page</title>
  </head>
  <body>
    <%-include("./partials/nav") %>
    <div
      class="container mt-4 d-flex flex-wrap mx-auto justify-content-center"
      style="gap: 50px"
    >
      <% blogs.forEach(blog => { %>
      <a href="/blog/<%=blog._id %>" class="text-decoration-none text-dark">
        <div class="card" style="width: 18rem">
          <img
            src="<%=blog.coverImg %>"
            class="card-img-top"
            alt="image for blg"
          />
          <div class="card-body">
            <h4 class="card-title"><%=blog.title.toUpperCase() %></h4>
            <p class="card-text" style="height: 65%">
              <%=blog.body.slice(0, 200) %>...
            </p>
            <a href="/blog/<%=blog._id %>" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </a>
      <% }) %>
    </div>
    <%-include("./partials/script") %>
  </body>
</html>
